gui:
  theme:
    selectedLineBgColor:
      - reverse

git:
  log:
    showGraph: always

  paging:
    colorArg: always
    pager: delta --light --paging=never

  branchLogCmd: 'git log --color=always --decorate --oneline --graph {{ "{{branchName}}" }}'
  allBranchesLogCmd: 'git log --color=always --decorate --oneline --graph --all'

{{ if eq .chezmoi.os "darwin" -}}
os:
  editPreset: 'vscode'

{{ end -}}

promptToReturnFromSubprocess: false

customCommands:
  # Ctrl-g (think "go") to run 'just' within repo
  - key: '<c-g>'
    context: 'global'
    command: "just"
    subprocess: true
    description: "Run 'just' (default target)"
    stream: true

  # Ctrl-slash (think "diagonal space") to show selected commit
  - key: '<c-/>'
    context: 'commits'
    command: "mh-horizontal-line -n 2; \n
      git show {{ "{{.SelectedLocalCommit.Sha}}" }} ; \n
      read -sr -n 1 -p 'Press any key...'"
    subprocess: true
    description: "Show selected commit"

  # Bindings for tig in increasingly narrow scope
  #   Ctrl-4: all branches
  #   Ctrl-5: HEAD branch
  #   Ctrl-6: selected commit
  - key: '<c-4>'
    context: 'global'
    command: "tig -C . --all"
    subprocess: true
    description: "Open tig --all"
  - key: '<c-5>'
    context: 'global'
    command: "tig -C ."
    subprocess: true
    description: "Open tig HEAD"
  - key: '<c-6>'
    context: 'commits'
    command: "tig -C . {{ "{{.SelectedLocalCommit.Sha}}" }}"
    subprocess: true
    description: "Open tig <selected>"

  # Ctrl-8 to open repo in GitX (macOS) or tig
  - key: '<c-8>'
    context: 'global'
{{- if eq .chezmoi.os "darwin" }}
    command: 'open -a GitX .'
{{- else }}
    command: 'tig -C .'
{{- end }}
    subprocess: true
    description: "Open repo in GitX (macOS) or tig"
