gui:
  theme:
    selectedLineBgColor:
      - reverse
git:
  log:
    showGraph: always
  diffRenderers:
    - colorArg: always
      command: delta --light --paging=never
  branchLogCmd: 'git log --color=always --decorate --oneline --graph {{ "{{branchName}}" }}'
  # Disable auto fetching and forwarding to play better with jj
  autoFetch: false
  autoForwardBranches: none
  allBranchesLogCmds:
    - git log --color=always --decorate --oneline --graph --all
{{ if .mh.useVSCodeInLazyGit -}}
os:
  editPreset: 'vscode'
{{ end -}}
promptToReturnFromSubprocess: false
customCommands:
  # Ctrl-g (think "go") to run 'just' within repo
  - key: '<c-g>'
    context: 'global'
    command: "just"
    description: "Run 'just' (default target)"
    output: terminal
  # Ctrl-slash (think "diagonal space") to show selected commit
  - key: '<c-/>'
    context: 'commits'
    command: "mh-horizontal-line -n 2; \n git show {{ "{{.SelectedLocalCommit.Sha}}" }} ; \n read -sr -n 1 -p 'Press any key...'"
    description: "Show selected commit"
    output: terminal
  # Bindings for tig in increasingly narrow scope
  #   Ctrl-4: all branches
  #   Ctrl-5: HEAD branch
  #   Ctrl-6: selected commit
  - key: '<c-4>'
    context: 'global'
    command: "tig -C . --all"
    description: "Open tig --all"
    output: terminal
  - key: '<c-5>'
    context: 'global'
    command: "tig -C ."
    description: "Open tig HEAD"
    output: terminal
  - key: '<c-6>'
    context: 'commits'
    command: "tig -C . {{ "{{.SelectedLocalCommit.Sha}}" }}"
    description: "Open tig <selected>"
    output: terminal
  # Ctrl-8 to open repo in GitX (macOS) or tig
  - key: '<c-8>'
    context: 'global'
{{- if .mh.useGitX }}
    command: 'open -a GitX .'
{{- else }}
    command: 'tig -C .'
{{- end }}
    description: "Open repo in GitX (macOS) or tig"
    output: terminal
