alias cz=chezmoi
alias cza='mh-chezmoi-prompt chezmoi_apply'
alias czc='cd {{ .chezmoi.sourceDir }}'
alias czd='chezmoi diff'
alias czg='chezmoi git --'
alias czdr='chezmoi doctor | grep -vE "^(info|ok|RESULT)"'  # (T)erse
alias czs='chezmoi status'
alias czun='chezmoi unmanaged'
alias czz=mh-chezmoi-test-and-apply
