[obsidian]
vaults = [
  "~/org/code-vault/",
{{- if .mh.isKork }}
  "~/org/kork-vault/"
{{ else }}
  "~/org/private-vault/"
{{ end }}
]

{{- if .mh.isMainPersonal }}
[workflowy]
joined = 2012-04-02T22:33:51Z
backups = "~/Library/CloudStorage/Dropbox/Apps/WorkFlowy/Data"

{{ end }}
