# Desired APT packages to build-deps for.
# Read by impl-apt.sh.
# Comments, leading and trailing whitespace, and empty lines are stripped.
#
# NOTE: Any packages added using this file will remain installed in the system until manually uninstalled.

{{ if .mh.useRuby -}}
ruby3.1
{{ end -}}
