#!/bin/bash
{{ if .mh.useAeroSpace }}
# Include checksums of template and converter script, as the change detection mechanism as recommended by Chezmoi.
# aerospace.toml hash: {{ include "dot_config/aerospace/mh-aerospace-template.toml" | sha256sum }}
# converter script hash: {{ include "dot_config/aerospace/executable_mh-update-aerospace-config" | sha256sum }}

echo "One of AeroSpace config template, converter script, or this script were updated, so updating AeroSpace config"
./mh-update-aerospace-config

if command -v aerospace >/dev/null 2>&1 && pgrep -x AeroSpace >/dev/null; then
  echo "Reloading AeroSpace config"
  aerospace reload-config
fi
{{ else }}
# No-op: AeroSpace is not configured to run on this machine
{{ end }}
