[tools]
# deno = "latest"
# go = "latest"
{{ if .mh.useJava -}}
java = "latest"
{{ end -}}
node = "latest"  # For mermaid-cli setup, and some Neovim plugins
python = "latest"
{{ if .mh.useRuby -}}
ruby = "latest"
{{ end -}}
